[Desktop Entry]
Type=Application
Name=replay-rs
GenericName=Replay Buffer
Comment=Постоянная запись экрана с сохранением последних N секунд
Exec=replay-rs
Icon=media-record
Terminal=false
Categories=AudioVideo;Recorder;
StartupWMClass=replay-rs
X-KDE-StartupNotify=false
